[submodule "theme"]
	path = theme
	url = https://github.com/aliceinwire/Flex.git
	branch = blog
[submodule "plugins/pelican_comment_system"]
	path = plugins/pelican_comment_system
	url = https://github.com/aliceinwire/pelican_comment_system.git
	branch = blog
